.head {
    display: flex;
    justify-content: space-around;
  }
  
  .banner {
      background-image: url('./images/Hero-bg.png');
      text-align: center;
  }
  
  .btn {
      background-color: black;
      color: white;
      padding: 20px;
  }

  .social {
    display: flex;
    justify-content: space-around;
  }
  
  .list > li {
    display: inline;
    margin-left: 15px;
   
  }
  .list > li > a {
   
    text-decoration: none;
  }
  
  .footer {
      background-color: rgb(229, 210, 243);
  }
  
  