.head {
    display: flex;
    justify-content: space-around;
  }
  
  .banner {
      background-image: url('./images/Hero-bg.png');
      text-align: center;
  }
  
  .btn {
      background-color: black;
      color: white;
      padding: 20px;
  }

  .social {
    display: flex;
    justify-content: space-around;
  }
  
  .list > li {
    display: inline;
    margin-left: 15px;
   
  }
  .list > li > a {
   
    text-decoration: none;
  }
  
  .footer {
      background-color: rgb(229, 210, 243);
  }

  .web-dev {
    background-color: rgb(243, 229, 231);
    margin-top: -20px;
  }

  .main-head {
    text-align: center;
  }

  .code {
    display: flex;
    justify-content: space-around;
    background-color: rgb(220, 220, 220);
    padding-top: 40px;
  }
  

  .btn-dev {
    padding: 15px ;
    background-color: #fff;
    width: 200px;
  }

/* inspiration section */
  .inspiration {
    text-align: center;
    margin: 45px;
  }

  .inspiration-video {
    margin-top: 45px;
    
  }

 
  